@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    padding: 10px;
    border: 1px solid #3c763d;
    background-color: #dff0d8;
    color: #3c763d;
}

    .err {
        color: rgb(225, 22, 22);
        font-size: small;
    }
.text-size{
    font-size: 10px;
}
.table-container {
    display: flex;
    flex-direction: column;
}
.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Adjust the margin as needed */
}